# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd 
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [8]:
# Your code here: 
data.head()
# print(data.shape)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
# Your code here:
empty = data.isnull().sum()
print(empty)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:
display(data.groupby(['Salary or Hourly']).agg({'Salary or Hourly':'count'}))

                  Salary or Hourly
Salary or Hourly
Hourly                        8174
Salary                       25528

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [13]:
# Your code here:

display(data.groupby(['Department']).agg({'Department':'count'}))

                     Department
Department
ADMIN HEARNG                 38
ANIMAL CONTRL                75
AVIATION                   1856
BOARD OF ELECTION           111
BOARD OF ETHICS               8
BUDGET & MGMT                44
BUILDINGS                   258
BUSINESS AFFAIRS            167
CITY CLERK                   88
CITY COUNCIL                362
COPA                        123
CULTURAL AFFAIRS             74
DAIS                       1033
DISABILITIES                 28
FAMILY & SUPPORT            656
FINANCE                     544
FIRE                       4627
HEALTH                      467
HOUSING                      66
HOUSING & ECON DEV          154
HUMAN RELATIONS              17
HUMAN RESOURCES              75
INSPECTOR GEN                95
LAW                         398
LICENSE APPL COMM             1
MAYOR'S OFFICE              104
OEMC                       1737
POLICE                    13848
POLICE BOARD                  2
PROCUREMENT                  84
PUBLIC LIBRARY             1088
PUBLIC SAFETY ADMIN         244
STREETS & SAN              2175
TRANSPORTN                 1113
TREASURER                    28
WATER MGMNT                1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [29]:

hourly = data[data['Salary or Hourly'] == 'Hourly']
hr = hourly['Hourly Rate']

In [22]:
# we select a value for alpha of 0.05 (p-value threshold, significance level)
# Two-sided test:
# Null hypothesis or H0: mean hourly salary value = 30
# Alternative hyp or H1: mean hourly salary value <> 30

from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hr, 30)

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [23]:
# We can reject the null hypothesis because the p value is below 0.05 (the significance level)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [39]:
# Your code here:
popo = data[data['Department'] == 'POLICE']
# psal = popo[popo['Salary or Hourly'] == 'Salary']
psal = popo['Annual Salary']
psal.isnull().sum() # Checking because there are new values 
psal = psal.dropna() # Dropping the null values so that I can get a result for the test

0

In [40]:
# One-sided test:
# We select a value for alpha of 0.05 (p-value threshold, significance level)
# Null hypothesis or H0: mean cholesterol value <= 86000
# Alternative hyp or H1: mean cholesterol value > 86000

stat, pval = ttest_1samp(psal, 86000)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  6.119566952121482e-76

In [41]:
# We can reject the null hypothesis because the P value is below 0.05 (the significance level) 
psal.mean() # Just cheating quickly to make sure of sanity

88834.11892361111

Using the `crosstab` function, find the department that has the most hourly workers.

In [67]:
# Your code here:

hours = pd.crosstab(data['Department'], data['Typical Hours'])
hours['total hourly workers'] = hours.sum(axis=1)
hours
max_wrkrs = hours.loc[[hours['total hourly workers'].idxmax()]].transpose()
max_wrkrs

# So the answer is streets and sanitation 
# I could have done it much more simply if I had just summed the department 
hours2 = pd.crosstab(data['Department'], data['Salary or Hourly'])
hours2
max_wrkrs2 = hours2.loc[[hours2['Hourly'].idxmax()]].transpose()
max_wrkrs2

# hours = pd.crosstab(hourly['Department'], data['Typical Hours'])

Department        STREETS & SAN
Salary or Hourly
Hourly                     1846
Salary                      329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [75]:
# Your code here:
san = data[data['Department'] == 'STREETS & SAN']
# psal = popo[popo['Salary or Hourly'] == 'Salary']
sans = san['Hourly Rate']
sans.isnull().sum() # Checking because there are new values 
sans = sans.dropna() # Dropping the null values so that I can get a result for the test 
sans

# One-sided test:
# We select a value for alpha of 0.05 (p-value threshold, significance level)
# Null hypothesis or H0: mean cholesterol value >= 35
# Alternative hyp or H1: mean cholesterol value < 35


stat, pval = ttest_1samp(sans, 35)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  3.2902372218867895e-05

In [76]:
# We can reject the null hypothesis because the P value is below 0.05 (the significance level) 
sans.mean()

35.5522968580715

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [80]:
wage = hourly['Hourly Rate']

# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(wage) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(wage)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(wage) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

np.std(wage)/np.sqrt(degrees_freedom)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

In [82]:
wage.mean()

34.58644971862002

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [81]:
# I already have an array with the police salaries from earlier, it's called psal 

confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(psal) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(psal)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(psal) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

np.std(psal)/np.sqrt(degrees_freedom)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [83]:
psal.mean()

88834.11892361111

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: